<h1>{{ collection.title }}</h1>
<p>{{ collection.description }}</p>
{% for product in collection.products %}
  <div>
    <h3>{{ product.title }}</h3>
    <p>{{ product.price | money }}</p>
  </div>
{% endfor %}